## Class 3 Notes:

### Type conversion and taking Input from user - dynamic programs

In [5]:
x = 5
print(x)
print(type(x))

y = str(x)
print(y)
print(type(y))

5
<class 'int'>
5
<class 'str'>

In [4]:
x = 'Python'
int(x)

ValueError: invalid literal for int() with base 10: 'Python'

In [15]:
x = float(input("Enter first number \n"))
y = int(input("Enter second number\n"))

print(type(x))

sum = x+y
print(f"Sum of {x} and {y} is {sum}")

Enter first number
5.7
Enter second number
4
<class 'float'>
Sum of 5.7 and 4 is 9.7

In [9]:
name = input("Enter your name")

print(f"Welcome {name}, I hope you're doing well")

Enter your nameDotun
Welcome Dotun, I hope you're doing well

In [1]:
print(5+6)

11

In [5]:
name = input("Enter your name \n")
print(name)

Enter your name
Akshat
Akshat

In [1]:
name = input("Enter your name")
print("Welcome to the platform", name, "\nHow are you?")

Enter your nameAkshat
Welcome to the platform Akshat
How are you?

In [15]:
100*0.15

15.0

In [19]:
#  Python by default takes string input

num1 = input("Enter number 1 ")
num2 = input("Enter number 2 ")

print(num1+num2)
print("    ",type(num1))

Enter number 1 11
Enter number 2 12
1112
     <class 'str'>

In [9]:
int(2.3)

2

In [12]:
num1 = float(input("Enter first number "))
num2 = int(input("Enter number 2 "))


print(num1+num2)
print(type(num1))

Enter first number 11
Enter number 2 112
123.0
<class 'float'>

In [14]:
first_name =  input("Enter your first name")
last_name = input("Enter your last name")
print("Full Name is", first_name, " " ,last_name)

Enter your first namechandan
Enter your last namegupta
Full Name is chandan   gupta

In [ ]:
# dynamic programming and softwares require user input - e.g youtube
first_num = input("Enter the first number")
print(first_num)
print(type(first_num))
second_num = input("Enter the second number")
print(second_num)
print(type(first_num))

In [ ]:
result = first_num + second_num
print(result)

In [ ]:
result = int(first_num) + int(second_num)
print(result) # due to inputs in string - it will be concatenated

In [ ]:
# convert from string to integer - typecasting

# user input is always in string - we need to typecase if needed as integer
# it is always in string as we can convert string into other datatypes but not vice versa

In [1]:
x = int("Python")
x

ValueError: invalid literal for int() with base 10: 'Python'

In [1]:
x = str(3) 
print(x)
print(type(x))

3
<class 'str'>

In [ ]:
# to know the type of a variable
# type
type(4)
type(4.6)
type(6+5i)
type([1,2,3,4])

In [ ]:
type(first_num)

In [ ]:
# Kolkata can't be converted into integer - not possible 
# so type conversion must be possible before doing that

In [ ]:
# there are 2 types of conversion-

# implicit - 4+5.5 = 9.5 - Python is intelligent enought to automatically convert it as  required -

In [3]:
# implicit conversion
print(5+4j)
print(5+4j+9)

(5+4j)
(14+4j)

In [ ]:
type('45')

In [2]:
# explicit - here we need to tell Python explicitly to convert the type sa shown below

In [7]:
type('45')

str

In [3]:
# int
int('45') # given 45 as string - converting it into int
type(int('45'))

int

In [4]:
int('Akshat')

ValueError: invalid literal for int() with base 10: 'Akshat'

In [9]:
float(4)

4.0

In [ ]:
str(5)

In [11]:
# True = 1 and False = 0 
print(bool(1))
print(bool(0))

True
False

In [8]:
complex(4)

(4+0j)

In [ ]:
list('Hello')

In [ ]:
int('5')

In [ ]:
int('Kolkata') # not possible - kolkata can't be stored as integer

In [ ]:
a = 4.5
int(a)  # converting a to int - but it's a temporary operation

print(a) # now if we print a again - it'll be in it's original form - float
print(type(a)) # we can confirm the current datatype of a as well

# Type conversion is not permanent operation

print(a)

In [10]:
# by default the suer input is in string datatype

user_name = input("Enter your name")
print("Welcome!", user_name)

Enter your name32562
Welcome! 32562

In [13]:
n = input("Enter a number ")
print(n)

print(type(n))

m = int(n)
print(m)
print(type(m))

Enter a number 45
45
<class 'str'>
45
<class 'int'>

In [18]:
# to add 2 numbers entered by the user

x = input("Enter the first number to be added\n")

y = input("Enter the second number to be added\n")

sum = int(x) + int(y)
print(f"The addition of {x} and {y} is {sum}")

x = int(x)

print(type(x))
print(type(y))

Enter the first number to be added
45
Enter the second number to be added
54
The addition of 45 and 54 is 99
<class 'str'>
<class 'str'>

In [ ]:
# if we
first_num = int(input("Enter the first number"))
second_num = int(input("Enter the second number"))

In [ ]:
result = first_num + second_num
print(result)

# by default Python takes input as string, whether we give integer, decimal or any other.