## Lists in Python

## Content

### Creating list - (empty, homogeneous, hetrogeneous, from strings, using loops, etc)
### Indexing in list, slicing
### Properties of list
### Operators on list - membership, +, *, etc
### Functions in list - append(), extend(), insert, pop, remove, del, clear, sort, count, reverse,

In [ ]:
Data Structures -  methods to store the data

-- stack - LIFO
-- queue - FIFO
-- Tree - 


-- List, set, tuples and dictionaries

In [4]:
# Lists in Python

# List is a data structure in Python similar to array in other Programming language.
# Array is homogeneous while List can be heterogeneous.
# Arrays are continuous (elements are stored one after other) - Lists are not
# So Arrays are faster than List - fetching element from a sequence is fast
# Lists in Python are mutable
# Lists are ordered, can contain duplicate values, indexed

In [4]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"] #homogeneous 
print(thislist)
print(type(thislist))
print(thislist[3])

['apple', 'banana', 'cherry', 'banana', 'kiwi']
<class 'list'>
banana

In [1]:
a = [1,2,3.4,"Akshat", True, 'Python', 1,2]
print(type(a))

print(a[3])

<class 'list'>
Akshat

In [2]:
l = []
type(l)

list

In [6]:
a[4] = 'Data'
print(a)

[1, 2, 3.4, 'Akshat', 'Data', 'Python', 1, 2]

## Lists are mutable, ordered, indexed, allows dups

In [7]:
# We can access the elements of a list using loops also

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
for i in thislist:
    print(i)

apple
banana
cherry
banana
kiwi

In [2]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]

for i in thislist:
    if i == 'banana':
        thislist.remove(i)
print(thislist)

['apple', 'cherry', 'kiwi']

### Create Lists

In [5]:
# 1. Empty List -
L = []
print (L)
type(L)

[]

list

In [12]:
# 2. Homogeneous list
Li = [1,2,3,4,6]
print(Li)
print(type(Li))

[1, 2, 3, 4, 6]
<class 'list'>

In [13]:
# Heterogeneous lists
list = [1, "Adam", "Michel", 4.6, True, 6+7j]
list
type(list)

list

In [14]:
# multidimensional list

l = [1,2,4, [5, 'Max', 7.9]]   # 2D list

print(l)

print(l[0])

print(l[3])

print(l[3][0])

print(l[3][1])

print(l[3][2])

len(l)

[1, 2, 4, [5, 'Max', 7.9]]
1
[5, 'Max', 7.9]
5
Max
7.9

4

In [18]:
l = [1,2,3, [7,8, ['Akshat','Python', True, 4.6]]]
#print(l[3])

# print(l[0])

# print(type(l[3][2]))

# print(type(l[3][2][0]))
# print(l[3][2][0])

print(l[3][2][2])

print(type(l[3][2][2]))

True
<class 'bool'>

In [16]:
# 3D list - a list containing another list which has another list inside it
list_3D = [
            [
                [1,2,3], 
                [['Adam', 'Mike'], ['x', 4.5]]
            ]
          ]
list_3D
list_3D[0][1][0][0]

list_3D[0]   # [[1, 2, 3], [['Adam', 'Mike'], ['x', 4.5]]]
list_3D[0][0]
list_3D[0][1]  # [['Adam', 'Mike'], ['x', 4.5]]
# [['Adam', 'Mike'], ['x', 4.5]]
list_3D[0][1][0]  # ['Adam', 'Mike']
list_3D[0][1][0][0]

'Adam'

In [17]:
list_3D = [[[1,2,3], [['Adam', 'Mike'], ['x', 4.5]]]]

print(list_3D[0][1][1][1])

4.5

### Access Items from List

In [20]:
# Access items from a list  - similar as string indexes

l2 = [1,2,3,4,'Adam']  # indexing starts from 0
print(l2[-2])
# l2[2]
# l2[-1]

# # from multidimensional list
# l = [1, 2, 4, [4, 'Adam']]
# l
# l[-1]
# l[-1][0]
# l[-1][1]

# list_3D
# list_3D[0][1][0][1]

4

In [19]:
l = [1, 2, 4, [4, 'Adam']]
l[3][1]

'Adam'

### Mutability -  Edit a list

In [21]:
l

[1, 2, 3, [7, 8, ['Akshat', 'Python', True, 4.6]]]

In [25]:
l
# Lists in Python are mutable - we can edit a list
l[3][2][1] = 'Agrawal'
print(l)

[1, 2, 3, [7, 8, ['Akshat', 'Agrawal', True, 4.6]]]

In [27]:
Li = [1,2,34,'Akshat']

In [29]:
print(Li)
print(Li[2:4])

[1, 2, 34, 'Akshat']
[34, 'Akshat']

In [23]:
Li
print(Li[1:4])

[2, 3, 4]

In [24]:
print(Li)
Li[1:4] = [200,300,500]
print(Li)

[1, 2, 3, 4, 6]
[1, 200, 300, 500, 6]

### Add items to list

## append, extend, insert

In [30]:
print(Li)

[1, 2, 34, 'Akshat']

In [32]:
Li.append('Python')
print(Li)
print(type(Li))

[1, 2, 34, 'Akshat', 'Python', 'Python']
<class 'list'>

In [34]:
Li.append([1001,2]) # adds only one item at last of the list
print(Li)

[1, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2]]

In [29]:
Li.append('Kevin')

In [35]:
Li

[1, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2]]

In [36]:
Li.extend((1,2,3))

In [37]:
Li

[1, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [38]:
Li.insert(1, 5)
print(Li)

[1, 5, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [39]:
Li.insert(2, 'Mumbai')
print(Li)

[1, 5, 'Mumbai', 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

### Use Case- Add their names into a list

In [48]:
name  = []

for i in range(1,6):
    user_input = input("Enter your name\n")
    name.append(user_input)
    
print(name)

Enter your name
Akshat
Enter your name
Himanshu
Enter your name
Harshit
Enter your name
Python
Enter your name
India
['Akshat', 'Himanshu', 'Harshit', 'Python', 'India']

In [50]:
l = list("Akshat")
type(l)

list

In [51]:
l = list(input("Enter name"))
print(l)

Enter nameAkshat
['A', 'k', 's', 'h', 'a', 't']

In [32]:
for i in [1,2,34,5]:
    print(i)

1
2
34
5

In [33]:
print(Li)

Li.append([1,2])
print(Li)
Li.append(1,2) # gives an error because append takes only one argument.
Li.append(2)
print(Li)

[1, 200, 300, 500, 6, [1001, 2], 'Kevin']
[1, 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2]]

TypeError: list.append() takes exactly one argument (2 given)

In [34]:

Li
Li.append(1001) # adds only one item at last of the list
Li
Li.append([1,2])
Li
Li.append(1,2) # gives an error because append takes only one argument.
Li.append(2)

TypeError: list.append() takes exactly one argument (2 given)

In [35]:
print(Li)
# add multiple items at last to a list
Li.extend([4000,6000,8000])
print(Li)

[1, 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2]]
[1, 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2], 4000, 6000, 8000]

In [36]:
Li

[1,
 200,
 300,
 500,
 6,
 [1001, 2],
 'Kevin',
 [1, 2],
 1001,
 [1, 2],
 4000,
 6000,
 8000]

In [37]:
Li.extend('Goa')  # focus that if only 1 item is passed in extend func - it converts into individual letters
print(Li)
Li.extend(['Mumbai']) # add Mumbai as it is at the last of the list
print(Li)

[1, 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2], 4000, 6000, 8000, 'G', 'o', 'a']
[1, 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2], 4000, 6000, 8000, 'G', 'o', 'a', 'Mumbai']

In [38]:
Li

[1,
 200,
 300,
 500,
 6,
 [1001, 2],
 'Kevin',
 [1, 2],
 1001,
 [1, 2],
 4000,
 6000,
 8000,
 'G',
 'o',
 'a',
 'Mumbai']

In [43]:
print(Li)

[1, 'Nice', 200, 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2], 4000, 6000, 8000, 'G', 'o', 'a', 'Mumbai']

In [44]:
Li.insert(3, 'Lilian')

In [45]:
print(Li)

[1, 'Nice', 200, 'Lilian', 300, 500, 6, [1001, 2], 'Kevin', [1, 2], 1001, [1, 2], 4000, 6000, 8000, 'G', 'o', 'a', 'Mumbai']

In [39]:
# insert anywhere in the list by telling the index position

Li.insert(1, 'Nice')
Li
# Li.insert(1, ['Nice', 'Adam', 'Mike'])
# Li.insert(0, 'Mike')

[1,
 'Nice',
 200,
 300,
 500,
 6,
 [1001, 2],
 'Kevin',
 [1, 2],
 1001,
 [1, 2],
 4000,
 6000,
 8000,
 'G',
 'o',
 'a',
 'Mumbai']

In [40]:
Li

[1,
 'Nice',
 200,
 300,
 500,
 6,
 [1001, 2],
 'Kevin',
 [1, 2],
 1001,
 [1, 2],
 4000,
 6000,
 8000,
 'G',
 'o',
 'a',
 'Mumbai']

### Delete from list

In [41]:
# del Li
print(Li)

[1, 5, 'Mumbai', 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [42]:
# del Li
# print(Li)

[1, 5, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [21]:
Li[2::2]

[2, 4, [1001, 2], 'G', 'a']

In [22]:
Li

[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']

In [23]:
print(Li)
# del keyword deletes the element at given index
del Li[-1]
print(Li)

del Li[-3:] # from -3 till end
print(Li)

[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']
[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a']
[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin']

In [24]:
Li.append(4000)
Li

[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 4000]

In [43]:
print(Li)

[1, 5, 2, 34, 'Akshat', 'Python', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [44]:
Li.remove('Python')

In [45]:
print(Li)

[1, 5, 2, 34, 'Akshat', 'Python', [1001, 2], [1001, 2], 1, 2, 3]

In [47]:
Li.remove(['Nice', 'Adam', 'Mike'])  # Remove first occurrence of value.
Li

['Mike', 1, 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 6000, 8000]

In [ ]:

# Remove - when we don't know the index position but we know the element to be removed
Li 
Li.remove('Nice') # it shows error if the element is not present in the list
Li

In [22]:
x = [1,1,2,3,4]
print(x)
x.remove(1)
print(x)

[1, 1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
# 4 ways -  del, remove, pop, clear



# del Li[-1]
# pop - deletes the element at last
Li
Li.pop()
Li

# clear() - empties the list
l
l.clear()
l

[]

In [46]:
del Li

In [47]:
Li

NameError: name 'Li' is not defined

### Operations in List

In [52]:
n = [1,2,3,4]
m = [3,'Adam']

# joining in lists
n+m  # concatenation - it creates a new list altogether - neither m nor n is updated.

[1, 2, 3, 4, 3, 'Adam']

In [33]:

# list multiplication
print(m*5)
print(n*3)

[3, 'Adam', 3, 'Adam', 3, 'Adam', 3, 'Adam', 3, 'Adam']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [52]:
a='python '
a*3

'python python python '

In [6]:



# loops in list
for i in n:
    print(i)

# list_3D
for j in list_3D:
    print(j)


# membership operator
3 in list_3D

[1,2,3] in list_3D
([[1,2,3]]) in list_3D

[[[1,2,3]]] in list_3D

for i in list_3D:
    for j in i:
        print(j)


(['Adam', 'Mike'], ['x', 4.5]) in list_3D

1
2
3
4
[[1, 2, 3], [['Adam', 'Mike'], ['x', 4.5]]]
[1, 2, 3]
[['Adam', 'Mike'], ['x', 4.5]]

False

In [53]:
Li

['Mike', 1, 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 6000, 8000]

In [57]:
[1001,2] in Li

True

In [54]:
Li = [3,67,2,1,75,98,34, 34, 34]
Li.sort()

In [55]:
Li

[1, 2, 3, 34, 34, 34, 67, 75, 98]

In [57]:
Li = [3,67,2,1,75,98,34, 34, 34]
print(sorted(Li))
print(Li)

[1, 2, 3, 34, 34, 34, 67, 75, 98]
[3, 67, 2, 1, 75, 98, 34, 34, 34]

### functions in List

In [61]:

Li = [3,67,2,1,75,98,34, 34, 34]
type(Li)
len(Li)
min(Li)
max(Li)
sorted(Li) # default = ascending
sorted(Li, reverse=True) # descending

Li
# sorted is not a permanent operation - original list still remains same
# sort is another function which is a permanent operation

Li
Li.sort()
Li
Li.sort(reverse=True)
Li

[98, 75, 67, 34, 34, 34, 3, 2, 1]

In [62]:
# Index in List
Li.index(67)  # li is the list in which we want to get the index of 5000

2

In [59]:
Li.index(34)

ValueError: 34 is not in list

In [8]:

# Quick exercise

str = "Adam is a good man"
str
str.title()
# w/o using title function let's do the same thing -

'Adam Is A Good Man'

In [16]:

str.split() # now it is a list of each word - string to list
str[0]
str
s = str.split()
s

for i in s:
    print(i.capitalize())

# Now let's convert it back to string
new_list = []
for i in s:
    new_list.append(i.capitalize())

new_list
print(" ".join(new_list))

print(f"final string is {' '.join(new_list)}")

Adam
Is
A
Good
Man
Adam Is A Good Man
final string is Adam Is A Good Man

In [17]:
# Now we have our title function task achieved w/o it

In [18]:
# Exercise 2:
s = "abc@gamil.com"
# find the characters before @
position = s.find("@")
position
s[0:position]

# way 2
s.split("@")
s.split("@")[0]

'abc'

In [19]:
# Exercise 3: remove dups from a list
l = [1,2,4,1,3,5,6,3,1,2]
l
# way 1 
l1 = [] # empty list
for i in l:
    if i not in l1:
        l1.append(i)

print(l1)

# way 2
set(l)

[1, 2, 4, 3, 5, 6]

{1, 2, 3, 4, 5, 6}

## List comprehensions

In [58]:
Li = [1,2,3,4,5,6,7,8,9,10]

l = [i for i in Li if i%2==0]
l

[2, 4, 6, 8, 10]