## Python Tutorial

In [3]:
# int a = 5
a = 5 # dynamic typing 
print(a)
print(type(a))
print(id(a))

5
<class 'int'>
140735413326760

In [4]:
x = 'Python'
print(x)
print(type(x))
print(id(x))

Python
<class 'str'>
140735412069200

In [5]:
# type casting - change the type from one to another

a = 5
b = str(a)  # '5'
c = float(a)

print(a)
print(type(a))
print(id(a))

print(b)
print(type(b))
print(id(b))

print(c)
print(type(c))
print(id(c))

5
<class 'int'>
140735413326760
5
<class 'str'>
2280545686704
5.0
<class 'float'>
2280528951280

In [6]:
s = 'Akshat'
print(int(s))

print(float(s))

ValueError: invalid literal for int() with base 10: 'Akshat'

In [7]:
# Datatypes - type of data stored in a variable

x=5
type(x)

int

# Strings in Python

In [101]:
x = 'Ak'

In [102]:
x.count('')

3

In [97]:
len(x)

9

In [92]:
x.count('a')

6

In [9]:
y = """Akshat is a boy. 
        He is a Data Analyst"""

type(y)

str

In [21]:
m = "Akshat's profession is Teaching"
type(m)

print(m[-2])

print(m[-5:-2])

n
chi

In [14]:
print(m[10])

r

In [15]:
print(m[2:7]) # slicing -> substring

shat'

In [16]:
print(m[2:16:2])

sa' rfs

In [17]:
print(m[2:20:3])

st oso

In [19]:
print(m[2:])

print(m[:17])

print(m[0:17])

shat's profession is Teaching
Akshat's professi
Akshat's professi

In [23]:
x = 'Python'
x[0] = 'X'
print(x)

TypeError: 'str' object does not support item assignment

In [29]:
x = 'Akshat'
print(x.lower())

akshat

In [27]:
x = x.upper()
print(x)

AKSHAT

In [26]:
x

'Akshat'

In [28]:
y = "python"
print(y)
y.upper()
print(y)

python
python

In [30]:
m = "Akshat's profession is Teaching"
m.title()

"Akshat'S Profession Is Teaching"

In [31]:
m.capitalize()

"Akshat's profession is teaching"

In [36]:
m.find('x')

-1

In [39]:
m.split()

["Akshat's", 'profession', 'is', 'Teaching']

In [40]:
x = 'Akshat    is  a data   analyst   '
x.strip()

'Akshat    is  a data   analyst'

## User Input

In [44]:
a = 5
b = 6
print(a+b)

11

In [56]:
a = int(input("Enter a number \n")) # default type is string
b = float(input("Enter a number \n"))

print(a)
print(type(a))

print(b)
print(type(int(b)))
print(type(b))

print("You have entered ",a, "and", b)

print(f"You have entered {a} and {b}")

d = f"You have entered {a} and {b}"
print(d)

Enter a number
7
Enter a number
8
7
<class 'int'>
8.0
<class 'int'>
<class 'float'>
You have entered  7 and 8.0
You have entered 7 and 8.0
You have entered 7 and 8.0

In [52]:
x = input("Enter first name ")
y = input("Enter last name ")

print(x+" "+y)

Enter first name akshat
Enter last name agrawal
akshat agrawal

## Operators

In [57]:
a = 10
b = 3

print(a+b)
print(a-b)
print(a*b)

print(a**b)
print(10/3)

print(10%3)
print(10//3)

13
7
30
1000
3.3333333333333335
1
3

In [59]:
a = 4 # assignment
a = a+5

a += 5  
print(a)

14

In [61]:
print(a > b)

print(a>=b)

print(a<b)
print(a<= b)


print(a!=b)
print(a == b) # == is for comparision, = is for assignment

True
True
False
False
True
False

In [62]:
m

"Akshat's profession is Teaching"

In [65]:
'iss' not in m

True

In [68]:
# and, or, not

# if you score above 75 in English and your attendance is above 80 then Pass otherwise Fail

eng_marks = float(input("Enter marks in English "))
attendance = int(input("Enter your attendance "))

if eng_marks >= 75 and attendance >= 80:
    print("Pass")
else:
    print("Fail")

Enter marks in English 76
Enter your attendance 89
Pass

In [67]:
not(10>5)

False

In [72]:
a= 6
b = 7

print(id(a))
print(id(b))

print(a is b) # identity operators compares by their address 

print(a is not b)
print(id(a) == id(b))

140735413326792
140735413326824
False
True
False

In [73]:
a = 5
b = a

print(id(a))
print(id(b))

print(a is b) # identity operators compares by their address 

print(a is not b)

140735413326760
140735413326760
True
False

In [77]:
age = int(input("Enter your age "))
if age >= 18:
    print("Inside IF")
    print("Allowed to vote")

Enter your age 12

In [78]:
age = int(input("Enter your age "))
if age >= 18:
    print("Inside IF")
    print("Allowed to vote")
    
else: 
    print("Not allowed to vote")

Enter your age 12
Not allowed to vote

marks > 90 - 'A+'

marks between 70 to 90 then 'B+'
marks between 35 to 70 then 'C+'

marks < 35 - Fail

In [85]:
marks = float(input("Enter your marks "))

if marks >= 90:
    print("Your grade is A+ as your marks is ", marks)
    
elif (70 < marks <= 90):
    print("Your grade is B+ as your marks is ", marks)

elif (marks > 35 and marks <= 70) :
    print("Your grade is C+ as your marks is ", marks)
    
else:
    print("Fail")

Enter your marks akshat

ValueError: could not convert string to float: 'akshat'

In [90]:
marks = float(input("Enter your marks "))

if marks <= 100:
    
    if marks >= 90:
        print("Your grade is A+ as your marks is ", marks)

    elif (70 < marks <= 90):
        print("Your grade is B+ as your marks is ", marks)

    elif (marks > 35 and marks <= 70) :
        print("Your grade is C+ as your marks is ", marks)

    else:
        print("Fail")
        
else :
    print("Marks can't be above 100")

Enter your marks 34
Fail

In [103]:
a = 5
b = a

print(id(a))
print(id(b))

140735413326760
140735413326760

In [104]:
for i in range(1,101):
    if i % 2 == 0:
        if i == 24:
            continue
        print(i)

2
4
6
8
10
12
14
16
18
20
22
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [107]:
i = 1
while i<=100:
    i+=1
    if i%2 == 0:
        print(i)
    if i == 24:
        continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100