In [56]:
# pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
import pandas as pd

### How do i know the host of mysql?


Determining the host of your MySQL server depends on where your MySQL server is installed and how it's set up. Here are a few common scenarios and how to find the host in each:

##### 1. Local Machine
If MySQL is installed on your local computer, the host will typically be:

Hostname: localhost or 127.0.0.1
This means the server is running on the same machine as your client application (i.e., your Python script).

##### 2. On a Remote Server
If the MySQL server is installed on a remote machine, such as a server in a data center or on a cloud platform (e.g., AWS, 
Google Cloud, Azure), the host will be:

Hostname or IP Address: You can usually find this information from the service where the server is hosted. This could be the 
public IP address or a domain name provided by the hosting service.


- How to Find the Host Details
Control Panel of Hosting Service: If you're using a web hosting service, log into the control panel. There's typically a section
for databases that will list the hostname or IP address.

From the System Itself: If you have access to the server via SSH or another terminal access method, you can check the network 
settings:

On Linux, you can use ifconfig or ip addr show to see the IP addresses assigned to the server.

On Windows, you can use ipconfig in the command prompt to find the IP address.

##### 3. Cloud Services
For MySQL databases hosted on cloud platforms like AWS RDS, Google Cloud SQL, or Azure Database for MySQL:

Cloud Console: Check the database details in the cloud serviceâ€™s management console. Each cloud provider will provide an 
endpoint (hostname) that you use to connect.

In [21]:
# Create a connection to the database
cnxn = mysql.connector.connect(
    host="127.0.0.1",  # Typically 'localhost' or the IP address of the MySQL server
    user="root",
    password="Akshat@123",
    database="practice"
)

In [22]:
# Create a cursor object
cursor = cnxn.cursor()
cursor

In [23]:
# Execute a query
cursor.execute("SELECT * FROM patient")

In [24]:
# Fetch the results
result = cursor.fetchall()
result

[(1, datetime.date(2020, 1, 2), 100),
 (1, datetime.date(2020, 1, 27), 200),
 (2, datetime.date(2020, 1, 1), 300),
 (2, datetime.date(2020, 1, 21), 400),
 (2, datetime.date(2020, 1, 21), 300),
 (2, datetime.date(2020, 1, 1), 500),
 (3, datetime.date(2020, 1, 20), 400),
 (1, datetime.date(2020, 3, 4), 500),
 (3, datetime.date(2020, 1, 20), 450)]

In [25]:
for row in result:
    print(row)

(1, datetime.date(2020, 1, 2), 100)
(1, datetime.date(2020, 1, 27), 200)
(2, datetime.date(2020, 1, 1), 300)
(2, datetime.date(2020, 1, 21), 400)
(2, datetime.date(2020, 1, 21), 300)
(2, datetime.date(2020, 1, 1), 500)
(3, datetime.date(2020, 1, 20), 400)
(1, datetime.date(2020, 3, 4), 500)
(3, datetime.date(2020, 1, 20), 450)

In [26]:
cursor.description

[('account_id', 3, None, None, None, None, 1, 32768, 63),
 ('date', 10, None, None, None, None, 1, 128, 63),
 ('patient_id', 3, None, None, None, None, 1, 32768, 63)]

In [27]:
# Getting column headers

column = [cols[0] for cols in cursor.description]
column

['account_id', 'date', 'patient_id']

In [28]:
result

[(1, datetime.date(2020, 1, 2), 100),
 (1, datetime.date(2020, 1, 27), 200),
 (2, datetime.date(2020, 1, 1), 300),
 (2, datetime.date(2020, 1, 21), 400),
 (2, datetime.date(2020, 1, 21), 300),
 (2, datetime.date(2020, 1, 1), 500),
 (3, datetime.date(2020, 1, 20), 400),
 (1, datetime.date(2020, 3, 4), 500),
 (3, datetime.date(2020, 1, 20), 450)]

In [29]:
df = pd.DataFrame(result, columns=column)
df.head()

   account_id        date  patient_id
0           1  2020-01-02         100
1           1  2020-01-27         200
2           2  2020-01-01         300
3           2  2020-01-21         400
4           2  2020-01-21         300

In [13]:
# we can create tables in mysql db using python

# cursor.execute('create table table_test(col1 int)')

In [30]:
cursor.execute('show databases')

In [31]:
for i in cursor:
    print(i)

('company',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sys',)
('technomat',)

In [32]:
cursor.execute('select * from patient')

In [33]:
result1 = cursor.fetchall()
result1

[(1, datetime.date(2020, 1, 2), 100),
 (1, datetime.date(2020, 1, 27), 200),
 (2, datetime.date(2020, 1, 1), 300),
 (2, datetime.date(2020, 1, 21), 400),
 (2, datetime.date(2020, 1, 21), 300),
 (2, datetime.date(2020, 1, 1), 500),
 (3, datetime.date(2020, 1, 20), 400),
 (1, datetime.date(2020, 3, 4), 500),
 (3, datetime.date(2020, 1, 20), 450)]

## Using pymysql library

- Connect to MySQL using pymysql

In [12]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [50]:
import pymysql

# Establish a connection
conn = pymysql.connect(
    host='127.0.0.1',  # Usually 'localhost' or a specific IP address
    user='root',
    password='Akshat@123',
    database='practice',
    charset='utf8mb4'  # Recommended for UTF-8 support
)


cursor = conn.cursor()
# Execute a query
sql = "SELECT * FROM patient"
cursor.execute(sql)

# Fetch all rows
results = cursor.fetchall()
for row in results:
    print(row)

(1, datetime.date(2020, 1, 2), 100)
(1, datetime.date(2020, 1, 27), 200)
(2, datetime.date(2020, 1, 1), 300)
(2, datetime.date(2020, 1, 21), 400)
(2, datetime.date(2020, 1, 21), 300)
(2, datetime.date(2020, 1, 1), 500)
(3, datetime.date(2020, 1, 20), 400)
(1, datetime.date(2020, 3, 4), 500)
(3, datetime.date(2020, 1, 20), 450)

In [51]:
results

((1, datetime.date(2020, 1, 2), 100),
 (1, datetime.date(2020, 1, 27), 200),
 (2, datetime.date(2020, 1, 1), 300),
 (2, datetime.date(2020, 1, 21), 400),
 (2, datetime.date(2020, 1, 21), 300),
 (2, datetime.date(2020, 1, 1), 500),
 (3, datetime.date(2020, 1, 20), 400),
 (1, datetime.date(2020, 3, 4), 500),
 (3, datetime.date(2020, 1, 20), 450))

In [52]:
# Getting column headers
columns = [desc[0] for desc in cursor.description]
columns

['account_id', 'date', 'patient_id']

In [53]:
rows

((1, datetime.date(2020, 1, 2), 100),
 (1, datetime.date(2020, 1, 27), 200),
 (2, datetime.date(2020, 1, 1), 300),
 (2, datetime.date(2020, 1, 21), 400),
 (2, datetime.date(2020, 1, 21), 300),
 (2, datetime.date(2020, 1, 1), 500),
 (3, datetime.date(2020, 1, 20), 400),
 (1, datetime.date(2020, 3, 4), 500),
 (3, datetime.date(2020, 1, 20), 450))

In [82]:
type(rows)

tuple

In [54]:
# Creating a DataFrame
import pandas as pd
df = pd.DataFrame(rows, columns=columns)

# Now you can use the dataframe as needed
print(df.head())  # For example, print first few rows

   account_id        date  patient_id
0           1  2020-01-02         100
1           1  2020-01-27         200
2           2  2020-01-01         300
3           2  2020-01-21         400
4           2  2020-01-21         300

In [55]:
df.head()

   account_id        date  patient_id
0           1  2020-01-02         100
1           1  2020-01-27         200
2           2  2020-01-01         300
3           2  2020-01-21         400
4           2  2020-01-21         300

### similarly, we can execute any sql query in Python using below command

In [46]:
cursor.execute('show databases')

7

In [47]:
# Fetch all the results
databases = cursor.fetchall()
databases

(('company',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('practice',),
 ('sys',),
 ('technomat',))

In [48]:
# Close the connection
# conn.close()