In [ ]:
str = "akshat"
str = "Gobind"

In [1]:
my_string = "Hello, world!"
 
# Attempt to modify the string
my_string[0] = 'h'

TypeError: 'str' object does not support item assignment

In [1]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry', 'banana', 'kiwi']
<class 'list'>

In [4]:
a = [1,2,3.4,"Akshat", True, 'Python', 1,2]
type(a)

list

In [5]:
a[4] = 'Kevin'
print(a)

[1, 2, 3.4, 'Akshat', 'Kevin', 'Python', 1, 2]

In [6]:
# Lists are mutable, ordered, indexed, allows dups

In [4]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
for i in thislist:
    if i == 'banana':
        thislist.remove(i)
print(thislist)

['apple', 'cherry', 'kiwi']

In [2]:
a = "Hello, World!"
print(a.replace("Hello", "J"))
print(a)

J, World!
Hello, World!

In [ ]:
# Lists in Python

# List is a data structure in Python similar to array in other Programming language.
# Array is homogeneous while List can be heterogeneous.
# Arrays are continuous (elements are stored one after other) - Lists are not
# So Arrays are faster than List - fetching element from a sequence is fast
# Lists in Python are mutable
# Lists are ordered

### Create Lists

In [1]:
# 1. Empty List -
L = []
print (L)
type(L)

[]

list

In [9]:
# 2. Homogeneous list
Li = [1,2,3,4,6]
print(Li)
print(type(Li))

[1, 2, 3, 4, 6]
<class 'list'>

In [4]:
# Heterogeneous lists
list = [1, "Adam", "Michel", 4.6, True, 6+7j]
list
type(list)

list

In [7]:
# multidimensional list
l = [1,2,4, [5, 'Max', 7.9]]   # 2D list

print(l)

print(l[0])

print(l[3])

print(l[3][0])

print(l[3][1])

print(l[3][2])

len(l)

[1, 2, 4, [5, 'Max', 7.9]]
1
[5, 'Max', 7.9]
5
Max
7.9

4

In [3]:
# 3D list - a list containing another list which has another list inside it
list_3D = [
            [
                [1,2,3], 
                [['Adam', 'Mike'], ['x', 4.5]]
            ]
          ]
list_3D
list_3D[0][1][0][0]

list_3D[0]   # [[1, 2, 3], [['Adam', 'Mike'], ['x', 4.5]]]
list_3D[0][0]
list_3D[0][1]  # [['Adam', 'Mike'], ['x', 4.5]]
# [['Adam', 'Mike'], ['x', 4.5]]
list_3D[0][1][0]  # ['Adam', 'Mike']
list_3D[0][1][0][0]

[]
[1, 2, 4, [4, 'Adam']]

'Adam'

In [22]:
list_3D = [[[1,2,3], [['Adam', 'Mike'], ['x', 4.5]]]]

print(list_3D[0][1][1][1])

4.5

### Access Items from List

In [4]:
# Access items from a list  - similar as string indexes

l2 = [1,2,3,4,'Adam']  # indexing starts from 0
l2[2]
l2[-1]

# from multidimensional list
l = [1, 2, 4, [4, 'Adam']]
l
l[-1]
l[-1][0]
l[-1][1]

list_3D
list_3D[0][1][0][1]

'Mike'

In [23]:
l = [1, 2, 4, [4, 'Adam']]
l[3][1]

'Adam'

### Edit a list

In [24]:
l

[1, 2, 4, [4, 'Adam']]

In [25]:
l
# Lists in Python are mutable - we can edit a list
l[0] = 'Mike'
l

['Mike', 2, 4, [4, 'Adam']]

In [28]:
Li
print(Li[1:4])

[200, 300, 500]

In [27]:
print(Li)
Li[1:4] = [200,300,500]
print(Li)

[1, 2, 3, 4, 6]
[1, 200, 300, 500, 6]

### Add items to list

## append, extend, insert

In [10]:
print(Li)

[1, 2, 3, 4, 6]

In [11]:
Li.append([1001,2]) # adds only one item at last of the list
print(Li)

[1, 2, 3, 4, 6, [1001, 2]]

In [12]:
Li.append('Kevin')

In [13]:
Li

[1, 2, 3, 4, 6, [1001, 2], 'Kevin']

In [ ]:
print(Li)

Li.append([1,2])
print(Li)
Li.append(1,2) # gives an error because append takes only one argument.
Li.append(2)
print(Li)

In [ ]:

Li
Li.append(1001) # adds only one item at last of the list
Li
Li.append([1,2])
Li
Li.append(1,2) # gives an error because append takes only one argument.
Li.append(2)

In [34]:
print(Li)
# add multiple items at last to a list
Li.extend([4000,6000,8000])
print(Li)

[1, 200, 300, 500, 6, 1001, [1001, 2]]
[1, 200, 300, 500, 6, 1001, [1001, 2], 4000, 6000, 8000]

In [14]:
Li

[1, 2, 3, 4, 6, [1001, 2], 'Kevin']

In [15]:
Li.extend('Goa')  # focus that if only 1 item is passed in extend func - it converts into individual letters
print(Li)
Li.extend(['Mumbai']) # add Mumbai as it is at the last of the list
print(Li)

[1, 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a']
[1, 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']

In [16]:
Li

[1, 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']

In [17]:
# insert anywhere in the list by telling the index position
Li.insert(1, 'Nice')
Li
# Li.insert(1, ['Nice', 'Adam', 'Mike'])
# Li.insert(0, 'Mike')

[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']

In [38]:
Li

['Mike',
 1,
 ['Nice', 'Adam', 'Mike'],
 'Nice',
 200,
 300,
 500,
 6,
 1001,
 [1001, 2],
 4000,
 6000,
 8000,
 'G',
 'o',
 'a',
 'Mumbai']

### Delete from list

In [18]:
# del Li
Li

[1, 'Nice', 2, 3, 4, 6, [1001, 2], 'Kevin', 'G', 'o', 'a', 'Mumbai']

In [21]:
Li[2::2]

[2, 4, [1001, 2], 'G', 'a']

In [39]:
print(Li)
# del keyword deletes the element at given index
del Li[-1]
print(Li)

del Li[-3:] # from -3 till end
print(Li)

['Mike', 1, ['Nice', 'Adam', 'Mike'], 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 4000, 6000, 8000, 'G', 'o', 'a', 'Mumbai']
['Mike', 1, ['Nice', 'Adam', 'Mike'], 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 4000, 6000, 8000, 'G', 'o', 'a']
['Mike', 1, ['Nice', 'Adam', 'Mike'], 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 4000, 6000, 8000]

In [40]:
Li.append(4000)

In [41]:
print(Li)

['Mike', 1, ['Nice', 'Adam', 'Mike'], 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 4000, 6000, 8000, 4000]

In [45]:
Li.remove(4000)

In [46]:
print(Li)

['Mike', 1, ['Nice', 'Adam', 'Mike'], 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 6000, 8000]

In [47]:
Li.remove(['Nice', 'Adam', 'Mike'])
Li

['Mike', 1, 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 6000, 8000]

In [ ]:

# Remove - when we don't know the index position but we know the element to be removed
Li 
Li.remove('Nice') # it shows error if the element is not present in the list
Li

In [ ]:
# 4 ways -  del, remove, pop, clear




# pop - deletes the element at last
Li
Li.pop()
Li

# clear() - empties the list
l
l.clear()
l

### Operations in List

In [48]:
n = [1,2,3,4]
m = [3,'Adam']

# joining in lists
n+m  # concatenation - it creates a new list altogether - neither m nor n is updated.

[1, 2, 3, 4, 3, 'Adam']

In [49]:

# list multiplication
m*5
n*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [52]:
a='python '
a*3

'python python python '

In [6]:



# loops in list
for i in n:
    print(i)

# list_3D
for j in list_3D:
    print(j)


# membership operator
3 in list_3D

[1,2,3] in list_3D
([[1,2,3]]) in list_3D

[[[1,2,3]]] in list_3D

for i in list_3D:
    for j in i:
        print(j)


(['Adam', 'Mike'], ['x', 4.5]) in list_3D

1
2
3
4
[[1, 2, 3], [['Adam', 'Mike'], ['x', 4.5]]]
[1, 2, 3]
[['Adam', 'Mike'], ['x', 4.5]]

False

In [53]:
Li

['Mike', 1, 'Nice', 200, 300, 500, 6, 1001, [1001, 2], 6000, 8000]

In [57]:
[1001,2] in Li

True

### functions in List

In [61]:

Li = [3,67,2,1,75,98,34, 34, 34]
type(Li)
len(Li)
min(Li)
max(Li)
sorted(Li) # default = ascending
sorted(Li, reverse=True) # descending

Li
# sorted is not a permanent operation - original list still remains same
# sort is another function which is a permanent operation

Li
Li.sort()
Li
Li.sort(reverse=True)
Li

[98, 75, 67, 34, 34, 34, 3, 2, 1]

In [62]:
# Index in List
Li.index(67)  # li is the list in which we want to get the index of 5000

2

In [59]:
Li.index(34)

ValueError: 34 is not in list

In [8]:

# Quick exercise

str = "Adam is a good man"
str
str.title()
# w/o using title function let's do the same thing -

'Adam Is A Good Man'

In [16]:

str.split() # now it is a list of each word - string to list
str[0]
str
s = str.split()
s

for i in s:
    print(i.capitalize())

# Now let's convert it back to string
new_list = []
for i in s:
    new_list.append(i.capitalize())

new_list
print(" ".join(new_list))

print(f"final string is {' '.join(new_list)}")

Adam
Is
A
Good
Man
Adam Is A Good Man
final string is Adam Is A Good Man

In [17]:
# Now we have our title function task achieved w/o it

In [18]:
# Exercise 2:
s = "abc@gamil.com"
# find the characters before @
position = s.find("@")
position
s[0:position]

# way 2
s.split("@")
s.split("@")[0]

'abc'

In [19]:
# Exercise 3: remove dups from a list
l = [1,2,4,1,3,5,6,3,1,2]
l
# way 1 
l1 = [] # empty list
for i in l:
    if i not in l1:
        l1.append(i)

print(l1)

# way 2
set(l)

[1, 2, 4, 3, 5, 6]

{1, 2, 3, 4, 5, 6}