In [ ]:
'''Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

Creating Strings
Accessing Strings
Adding Chars to Strings
Editing Strings
Deleting Strings
Operations on Strings
String Functions
'''

In [1]:
# Creating

c = 'Python'
print(c)
print(type(c))

c = "Hello. it's raining outside"
print(c)

Python
<class 'str'>
Hello. it's raining outside

In [2]:
str = """Adam is my teacher.
        He is good in teaching. 
                I give him 5* """
type(str)

str

In [2]:
a = '5'
type(a)

str

In [5]:
c = '''Hello'''
print(c)
print(type(c))

Hello
<class 'str'>

In [ ]:
# multi line strings
c = """Hello"""
print(c)

In [ ]:
c = str("Hello")
c

## # Accessing Substrings from a String

In [13]:
x = 'Akshat Agrawal'
print(x[0])
print(x[3])
print(x[5])
print(x[2])

print(x[0:6])
print(x[7:14])
print(x[:])
print(x[:9])
print(x[5:])

print(x[7:14:2])

print(len(x))

A
h
t
s
Akshat
Agrawal
Akshat Agrawal
Akshat Ag
t Agrawal
Arwl
14

In [23]:
x[-14:]

'Akshat Agrawal'

In [25]:
x
x[::-1]

'lawargA tahskA'

In [26]:
x = 'Madam'
x[::-1]

'madaM'

## How to improve your logic building

### dry run
### algo
### flowchart

- Step 1 : to take user input
- Step 2: to reverse the original input and store in a variable
- Step 3: to compare original string and reverse string
- Step 4: if they match, print teh string is palindrome
- Step 5: if they do not match, print the string is not palindrome

In [38]:
user_input = input("Enter a string \n")
rev = user_input[::-1]

print(user_input.upper())
print (rev.upper())

if user_input.upper() == rev.upper():
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string
Dad
DAD
DAD
Palindrome

In [32]:
# palindrome
user_input = input("Enter a string \n")

reverse = user_input[::-1]

if user_input.lower() == reverse.lower():
    print(f"{user_input} is palindrome")
else:
    print(f"{user_input} is not plaindrome")

Enter a string
Madam
Madam is palindrome

In [13]:
# Concept of Indexing
c = "hello "
print(c)

hello

In [7]:
print(c[0])
print(c[1])
print(c[-1])
print(c[-3])
print(len(c))

h
e

l
6

In [8]:
print(c[0:3])

hel

In [10]:
print(c[-5:-1])

ello

In [15]:
print(c[-5])

e

In [21]:
print(c[:4]) # from 0 to 3
print(c[0:4])


print(c[1:])
print(c[1:-1])

hell
hell
ello
ello

In [17]:
str = "Akshat is a good boy"

str[0:6]

'Akshat'

In [ ]:
string = ['Adam', 'Mike', 'Julie', 'Michael']
string[-3]
string[-5]

In [ ]:
# Types of Indexing
# Postive Indexing
# Negative Indexing

#Indexing lets us extract a single character from a string
print(c)  # Hello
print(c[3])
print(c[-3])
print(c[-1])
print(c[-2])

In [ ]:
# Slicing - to extract multiple characters at once from a string
c = "Hello World"
print(c)
# range(0,4)
print(c[0:5]) # from 0 to 4
print(c[3:7]) # lo W
print(c[2:9])  # llo Wor
print(c[2:]) # from 2 to end  [start:stop]

print(c[:4]) # from 0 to 3

print(c[:]) # all

print(c)

In [ ]:
# range(start:stop:step)
# c = "Hello World"
print(c[0:8:2]) #giving step size also - from 0 to 7 on a step of 2 
print(c[0:8:3]) # HlW
print(c[0::3]) # HlWl

In [22]:
c

'hello '

In [25]:
print(c[0:6:3])

hl

In [ ]:
print(c[0:6:-1]) # empty string as -ve step can't be used while using +ve indexes


print(c)


print(c[-5:-1:2]) #

In [ ]:
s = "Mike"  # ekiM
print(c[::-1]) # reverse a string -

print(c[-1:-5:-1]) # from -1 to -4 and reversed

In [ ]:
# i or  l[i]

l=[1,2,4,564,21,2,321214,342,123,24,3534,657,56,8567,3,21]
for i in (range(1,10)):  # 1,2,3,4,5,6,7,8,9
    print(l[i])

for i in range(1,10):
    print(i)

## Editing and Deleting in String

In [26]:
# Strings are immutable in Python

c = "Hello"
print(c)
# String are immutable
c[0] = 'X' # trying to update the char at 0 from H to X -

Hello

TypeError: 'str' object does not support item assignment

In [27]:
c

'Hello'

In [29]:
c = "Akshat"
c

'Akshat'

In [32]:
# TypeError: 'str' object does not support item assignment
# Strings are a Immutable Data Type

# we can re assign but can't edit
c = "world"
print(c)

world

In [ ]:
c[5] = "X" # error - can't add or edit characters

In [39]:
# Deletion
c = 'Hello'
print(c)
print(id(c))
del c # del is the keyword to delete a string


print(c) # error as c is now deleted
print(id(c))

Hello
2619479957936

NameError: name 'c' is not defined

In [31]:
c = "hello"
print(c)

del c[0] # error as string is immuatable

hello

TypeError: 'str' object doesn't support item deletion

In [40]:
'''
Operations on Strings
Arithmetic Operations
Relational Operations
Logical Operations
Loops on Strings
Membership Operations
'''

# no mathematical operator other than + and * works with strings


# string1 + str2

print("Hello" + "-" + "world")  # concat string

# by default any input is taken as string in python
a = input("enter a number")
b = input("enter another number")
print(a+b)  # so when we do arithmetic addition on strings, it will concatenate them.

print(int(a) + int(b))

print("*"*50) # string multiplication

print("Hello "*4)

# Comparision opeartors
print("Hello" == "World")

"Hello" != "WOrld"

print("Mumbai" > "Pune")
# Lexiographically - the word which comes first in Oxford dictionary is treated smaller

"Goa" < "Kolkata"

"kol" < "Kol" # small letters come after capital letters

# Logical operators
# empty string is treated as False and non empty string as True


"hello" and "world" # logical and 

"" and "Hello"

"" or "world"

"hello" or "world"

"hello" and "world"

# non empty strings ate True and not of True is False
print(not "hello")

not ""


c = "hello world"
print(c[::-1])

for i in c[::-1]:
    print(i)

Hello-world
enter a number5
enter another number6
56
11
**************************************************
Hello Hello Hello Hello
False
False
False
dlrow olleh
d
l
r
o
w

o
l
l
e
h

In [47]:
a = 4

print("Hello \n"*a)

Hello
Hello
Hello
Hello

In [40]:
print("Hello" != "World")

True

In [43]:
print("Mumbai" < "Pune")

True

In [54]:
print("world" and "akshat/")

akshat/

In [56]:
print("" or "world")

world

In [49]:
print("" or "world")

world

In [58]:
print(not "")

True

In [62]:
# Membership operators

c = 'hello world'
print('h' in c)

print('H' in c)

print('world' not in c)

True
False
False

In [ ]:

"""
Common Functions used with strings
len
max
min
sorted
"""

In [66]:
c = "kolkata is a city in India "
len(c)

27

In [70]:
ord('a')

97

In [73]:
print(ord('k'))
print(ord('o'))
print(ord('l'))
print(ord('t'))
print(ord('a'))

107
111
108
116
97

In [76]:
max(c) # based on ASCII characters

min(c)

sorted(c,reverse=True) # descending order based on ASCII characters

['t', 'o', 'l', 'k', 'k', 'a', 'a']

In [74]:
c='kolkata'
max(c)

't'

In [77]:
# functions only applicable on string datatype - not on any other


# adam -> ADAM -> Adam
# 1. Capitalize/Title/Upper/Lower/Swapcase
"it is raining today".capitalize() # first letter capital

'It is raining today'

In [78]:
"we are studying Python".capitalize()

'We are studying python'

In [79]:
# It Is Raining Today
"it is raining today".title() # capitalize first letter of every word

'It Is Raining Today'

In [80]:
c = "kolkata"

c.upper()

'KOLKATA'

In [81]:
c.lower()

'kolkata'

In [82]:
"KoLkAtA".swapcase()

'kOlKaTa'

In [85]:
#2. Count
print("it is raining".count("x"))
print("it is raining".count("i"))
print("it is raining".count("is"))

0
4
1

In [86]:
#3. Find vs Index
"it is raining".find("x") # first occurence of the character 
# -1 as output means the given char is not present in the string when we use find func.

# when it is not present - index funtion returns error
# so it's better to use find to atleast avoid error

-1

In [87]:
if "it is raining".find("x") == -1:
    print(0)

0

In [88]:
"it is raining".index("x")

ValueError: substring not found

In [89]:
try:
    "it is raining".index("x")
except:
    print("There is some error")

There is some error

In [ ]:
# 4. endswith/startswith
"it is raining".endswith("ingef")

"it is raining".startswith("it")

In [ ]:
#5. format string 
"Hello my name is {} and I am {}".format("Adam",30)
# {} is replaced with the given character

# we can also provide the order - 
"Hello my name is {1} and I am {0}".format("Nitish",30)

"Hello my name is {age} and I am {name}".format(name = "Nitish",age = 30)

"Hello my name is {name} and I am {name}".format(name = "Nitish",age = 30, weight = 70)

In [93]:
#6. isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier

print("FLAT20".isalnum())  # alphanumeric - either all alphabets or numeric

print("FLAT20&".isalnum())

print("FLAT20".isalpha())

print("20".isdigit())

"20A".isdigit()

"hello_world".isidentifier()

True
False
False
True

True

In [42]:
#7. Split - useful in NLP - convert texts into tags

l = "who is the pm of india".split() # when nothing is passes it is split as per space
#return a list
print(l)

print(l[0])

['who', 'is', 'the', 'pm', 'of', 'india']
who

In [98]:


# we can split acc to anything - like below split by pm - 
# so it will break into 2 strings - 1 before pm and other after it and returns a list
"who is the pm of india".split("the")
#

['who is ', ' pm of india']

In [99]:
"who is the pm of india".split("x")

['who is the pm of india']

In [100]:
#8. Join
" ".join(['who', 'is', 'the', 'pm', 'of', 'india']) # joining using space

'who is the pm of india'

In [101]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])  # # joining using dash(-)

'who-is-the-pm-of-india'

In [102]:
# 9. Replace

"Hi my name is Nitish".replace("Nitish","Amit")

'Hi my name is Amit'

In [43]:
#10. Strip - remove trailing and leading space

name = "               Python              "
print(name)
# now when we use strip function
print(name.strip())

# Explore more string functions on official doc or Google

               Python
Python

In [46]:
name = "        Python is a Programming       language  "
print(name)
print(name.strip())

        Python is a Programming       language
Python is a Programming       language