### Python Basics

## First Class Notes

In [3]:
print("It's my first Python class and I am really excited for it")
print('Hi! My name is Akshat')

It's my first Python class and I am really excited for it
Hi! My name is Akshat

In [4]:
print("Akshat's profile is Data Analytics")

Akshat's profile is Data Analytics

In [5]:
# This is a single line comment

"""
This is 
a  
multi line
comment
"""

'\nThis is \na  \nmulti line\ncomment\n'

In [13]:
# Python Basics
# (2+3-6/5*3) - +,*,-,/
# inbuilt fn and user defined func

# Variables are the names given to the memory location.
a = 5.6
b = 6

sum = a+b

print("Addition is = ",sum)

Addition is =  11.6

In [15]:
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [9]:
print('Hello Python')
print("Your name")
print("Hello World")

Hello Python
Your name
Hello World

In [4]:
#print('Hi, I'm your trainer. today we are going to learn python basics')
# when single quotes in the statement then only "" is used
print("Hi, I'm your trainer. today we are going to learn python basics")

Hi, I'm your trainer. today we are going to learn python basics

In [5]:
print(6)

6

In [5]:

print(5.6) # float - decimal

print(False)

print("India","Pakistan","Nepal","Srilanka","USA")

print("India",' ',5,True)

print("India","Pakistan","Nepal","Srilanka",sep='-')

print("India","Pakistan","Nepal","Srilanka",sep='...')

print("Hello")

print("World\n", "Python")

print("Hello",end=' ')

print("world")

print()

print(print("world"), print("World"))

5.6
False
India Pakistan Nepal Srilanka USA
India   5 True
India-Pakistan-Nepal-Srilanka
India...Pakistan...Nepal...Srilanka
Hello
World
 Python
Hello world

world
World
None None

In [10]:
a = 4.5
# 4, 4.5, 'Dotun', True, 
print(type(a)) # print the datatype of the variable a
print(a) # print the value of variable a

<class 'str'>
Dotun is my colleague

In [18]:
# boolean - True , False
# 5+6j
# real part + imaginary part

a=3
print(type(a))


b = [3,4,5,6,7,8,9]
print(type(b))

<class 'int'>
<class 'list'>

In [8]:
"""
Python supports 3 categories of data types:

Basic/Primitive Types - (integer,float,complex,boolean and string)
Container/ Sequence Types - (List,Tuples, Sets and Dictionary)
User-defined Types - Class
"""

'\nPython supports 3 categories of data types:\nBasic/Primitive Types - (integer,float,complex,boolean and string)\nContainer Types - (List,Tuples, Sets and Dictionary)\nUser-defined Types - Class\n'

In [9]:
# integer
print(4)
print(1e309)
type(4)

4
inf

int

In [10]:
type(4.5)

float

In [11]:
# float
print(4.5)
print(1.7e308)
type(1.7e308)

4.5
1.7e+308

float

In [12]:
# boolean
print(True)
print(False)
type(True)

True
False

bool

In [13]:
# complex
print(4+5j)
type(3+8j)

(4+5j)

complex

In [14]:
# string
print('Kolkata')
print("Kolkata")
print("""Kolkata
      is a city 
      in India""")

Kolkata
Kolkata
Kolkata
      is a city
      in India

In [15]:
a=4

In [17]:
L = [1,2,3,5,56, 'Akshat', 4+7j, True]
print(L)
print(type(L))
# list - 
print([1,2,3,4,5])

[1, 2, 3, 5, 56, 'Akshat', (4+7j), True]
<class 'list'>
[1, 2, 3, 4, 5]

In [17]:
# tuple
tup = (1,2,3,4,5,'A', 5.6)
print(tup)
type(tup)

(1, 2, 3, 4, 5, 'A', 5.6)

tuple

In [22]:
#sets
s1 = {1,2,2,2,2,3,4,5,'A', 5.6}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 5.6, 'A'}
<class 'set'>

In [19]:
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [20]:
# dict - key value pair
print({"Name":"Nitish",
       "Age":30,
       "gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

In [21]:
dic = {"Name":"akshat","Age":30,"gender":"Male", 'JobRole':'Data Analyst'}
print(dic)
print(type(dic))

{'Name': 'akshat', 'Age': 30, 'gender': 'Male', 'JobRole': 'Data Analyst'}
<class 'dict'>