In [2]:
# dictionary in Python
# items are stored as key value pair

# rules to remember
# 1. keys should always be immutable while values can be mutable
# 2. Dictionary do not have indexing/slicing like sets
# 3. Keys should be unique
# 4. dictionary is mutable datatypes

# Mutable - list, sets, dictionary
# Immutable - string, tuple, int, float, boolean, complex

In [1]:
# create dictionary
d1 = {}
type(d1)

dict

In [6]:
d = {'name':"Adam", 
     'Gender': 'Male',
     'marks':78,
     'mark1':100}
print(d)
type(d)

# if the keys are repeated then it'll take the latest value

{'name': 'Adam', 'Gender': 'Male', 'marks': 78, 'mark1': 100}

dict

In [7]:
# 1. keys should always be immutable while values can be mutable - let's try to use list(mutable) as key
d2 = {[1,2,3] : "Adam"}  # list can't be used as key as it is mutable and keys are always immutable
# key:value

TypeError: unhashable type: 'list'

In [7]:
d3 = {(1,2,3) : "Adam"} # tuple can be used as key as it is immutable
type(d3)

dict

In [8]:
# keys should be unique
d4 = {'name' : 'rahul', 'gender' : 'male' , 'name' : 'Adam'}
# error won't come but latest value of the key will be stored as an updation step
print(d4)
type(d4)

{'name': 'Adam', 'gender': 'male'}

dict

In [10]:
# ==================================================================================================
# 2-D dictionary
d3 ={"name":"Eve", "marks" : {"English" : 79 , 'maths' : 89}}
d3
d3['marks']['English']

79

In [11]:
a= 'Eve'

In [12]:
d3 ={"name":{'fname':a , 'lname' : 'Mathews'}, "marks" : {"English" : 79 , 'maths' : 89}}
d3

{'name': {'fname': 'Eve', 'lname': 'Mathews'},
 'marks': {'English': 79, 'maths': 89}}

In [14]:
d3['name']['fname']

'Eve'

In [11]:

d4 ={"name":"Eve", "marks" : {"English" : 79 , 'maths' : {'Part1' : 78 , 'Part2' : 56}}}
d4
type(d4)

dict

In [12]:
# -==================================================================================================
# Accessing items from a dictionary is done using it's key
# dictionary doesn't have indexing - so accessing elements can be done using key
d4['name']

'Eve'

In [13]:
d3["marks"]

{'English': 79, 'maths': 89}

In [14]:
d4['marks']

{'English': 79, 'maths': {'Part1': 78, 'Part2': 56}}

In [15]:
d4['marks']['maths']

{'Part1': 78, 'Part2': 56}

In [16]:
d4['marks']['maths']['Part2']

56

In [15]:
# =================================================================================================
# edit a dictionary

d3
d3['name'] = "Adam"
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}}

In [16]:
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}}

In [17]:
# add new key value pair
d3['Age'] = 32
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}, 'Age': 32}

In [20]:
d3['Age'] = 45
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}, 'Age': 45}

In [21]:
d3['Age1'] = 58
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}, 'Age': 45, 'Age1': 58}

In [ ]:
# =================================================================================================
# delete in dictionary - del, clear

del d3

In [19]:
# we can also delete individual key value pair
d4
del d4['name']
d4

{'marks': {'English': 79, 'maths': {'Part1': 78, 'Part2': 56}}}

In [20]:
d4.clear() # dict becomes an empty dictionary
d4

{}

In [ ]:
# =================================================================================================
d1 = {'name' : "Mike", "age" : 56}
d2 = {"marks" : 56}

# concat of dict not possible
# multiplication not possible


# to get values - 
for i in d1:
    print(i," ", d1[i])

# membership operators in dictionary - it checks for keys not values
'Mike' in d1
"name" in d1
"Name" in d1

In [23]:
d3

{'name': 'Adam', 'marks': {'English': 79, 'maths': 89}, 'Age': 45, 'Age1': 58}

In [29]:
d3.keys()

dict_keys(['name', 'marks', 'Age', 'Age1'])

In [30]:
d3.values()

dict_values(['Adam', {'English': 79, 'maths': 89}, 45, 58])

In [31]:
# loops
for i in d3:
    print(i)
# above loop will give us keys only

name
marks
Age
Age1

In [ ]:
# =================================================================================================
# Functions in dict

len(d1)
max(d1) # based on ASCII characters
min(d1)


# Sum won't work for string datatype, but if keys were of numerical type then sum can work

sorted(d1, reverse = True)


# To get all the keys or all values in a dictionary
d3
d3.keys()
d3.values()